<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980532202204-0oj8dd196die22vf4g42lcbqq2livh3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980532202204-0oj8dd196die22vf4g42lcbqq2livh3g</string>
	<key>API_KEY</key>
	<string>AIzaSyDVrFN9bPpPc7eXl9yw7qhXDzAiekXEJzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>980532202204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.kevin.fresh-eats</string>
	<key>PROJECT_ID</key>
	<string>fir-fresh-eats</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-fresh-eats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980532202204:ios:4061f2fb0ddaa9322c0219</string>
</dict>
</plist>